.main__content{
    margin-top: 100px;
    padding: 0px 30px;
    padding-bottom: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
   
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
}

select, input[type="text"], input[type="date"], textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}